
section {
  padding: 0 20px;
}

.messages-top-row {
  margin-top: 15px;

  .filter-search-button {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 12px;
    height: 40px;
    background-color: $white !important;
    border: solid 2px $light-grey2;
  }
  .send-bulk-button {
    font-size: 12px;
    text-transform: capitalize;
    i {
      color: $white;
    }
  }
}

.messages-info-row {
  .v-card {
    background-color: $light-blue;
    border-radius: 5px !important;
    padding-bottom: 5px !important;
    min-height: 103px;

    .count-display {
      margin-bottom: 10px;
      &-icon {
        width: 27px;
        height: 25px;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;

        .v-icon {
          color: $white;
          font-size: 15px;
        }
      }

      &-number {
        font-weight: 500;
        font-size: 23px;
      }
    }
  }
}
