
.dashboard2 {
  padding: 20px 30px 50px 30px;

  .top-row-card {
    min-height: 175px;
  }

  .bottom-row-card {
    position: relative;
    min-height: 335px;
  }

  .graph-title {
    position: absolute;
    display: inline-block;
    left: 23%;
    font-size: 12px;
  }

  .date-picker-button {
    position: absolute;
    right: 20px;
    z-index: 1;
    font-size: 12px;
    border-radius: 7px;
     .v-icon:last-child {
       font-size: 24px;
     }
  }

  .chart-wrapper {
    display: block;
    width: 100%;
  }

  .line-height {
    line-height: 1.1;
  }

  .count-display {
    margin-bottom: 10px;
    &-icon {
      width: 27px;
      height: 25px;
      border-radius: 5px;
      padding: 5px;
      margin-right: 10px;

      .v-icon {
        color: $white;
        font-size: 15px;
      }
    }

    &-number {
      font-weight: 500;
      font-size: 23px;
    }
  }

  .card-circled-icon {
    border: solid 1px $divider-grey;
    background-color: $light-blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px 0;
    .v-icon {
      font-size: 30px;
      color: $primary;
    }
  }

  .large-number {
    text-align: center;
    font-size: 35px;
  }
  .tiny-text {
    text-align: center;
    text-transform: capitalize;
    font-size: 9px;
  }
}
