
nav {
  box-shadow: 2px 10px 15px 0 rgba(0, 0, 0, .2);
  border-radius: 0 0 50px 0;

  .menu-logo-section {
    padding-top: 25px;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    min-height: 15px;

    .v-image {
      max-width: 125px;
    }
  }

  .navigation-list-item {
    margin: 10px 0 10px 0;
  }

  .v-list-item-group .v-list-item--active {
    border-left: solid 2px;
  }

  .v-list-item__icon {
    margin: 10px 10px 0 12px !important;
  }

  .menu-items-text {
    text-transform: capitalize;
    font-size: 13px !important;
  }

  .v-footer {
    margin: 0 0 40px 10px;
    .dstv-logo {
      min-height: 15px;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, .3);
      border-radius: 23%;
      overflow: hidden;
      margin-right: 7px;
      .v-image {
        max-width: 25px;
      }
    }
    .footer-text {
      span{
        font-size: 10px;
        display: block;

      }
      span:last-child{
        font-size: 7px;
        display: block;
      }
    }
  }
}
