
.v-toolbar {
  position: fixed;
  background-color: white !important;
  //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12) !important;
  padding: 0 2px 0 16px;
  z-index: 3;

  &__content {

    .v-input {
      &.toolbar-search-field {
        margin-top: 22px;
      }
    }

    .toolbar-notifications {
      display: flex;
      flex-direction: row;
      color: $primary;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      & div {
        display: flex;
        align-items: center;
        padding: 0 15px;
        border-left: solid 1px $border_table_color_grey_light;

      }
      & div:last-child {
        padding-right: 35px;

        .power-circle {
          position: relative;
          margin-left: 8px;
          background-color: $accent;
          height: 25px;
          width: 25px;
          border-radius: 50%;

          i {
            font-size: 25px;
            font-weight: 300;
            color: $white;
            cursor: pointer;
          }
        }
      }

      i {
        font-size: 27px;
        color: $accent;
        cursor: pointer;
      }
    }
  }
}
