//  *** Sass Variables ***

//default vuetify theme colors (some already modified for project design)
$primary: #64B5F6;
$secondary: #B71C1C;
$accent: #78909C;
$error: #FF0000;
$info: #5C6BC0;
$success: #4CAF50;
$warning: #FFC107;

//supplementary base colors
$black: rgba(0, 0, 0, 0.87);
$white: #FFF;
$light-blue: #E0F7FA;
$light-grey: lighten( grey, 15%);
$light-grey2: #E0E0E0;

$page-bg-grey: #EFF0F1;
$divider-grey: #e8e8e8;
$border_table_color_grey_light: #dfdfdf;
$table_header_bg_color: #f2f2f2;
$table_hover_bg_color: $table_header_bg_color;
